body {
  margin: 0%;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  color: #172b4d;
}

a {
  text-decoration: none;
  color: #172b4d;
}

ul {
  padding: 0%;
}

li {
  list-style: none;
}

.flexnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 20px;
}

.desktop {
  display: none;
}

.landing-page {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 95vh;
  margin: 0%;
  padding: 8%;
  background: url("/Images/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

form > * {
  margin: 3%;
  padding: 4%;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  max-height: 90px;
  width: 100%;
}

.landing-page > * {
  flex: 3;
}

h1 {
  align-self: center;
  font-size: 40px;
  line-height: 52px;
  margin: 0%;
}

textarea {
  width: 100%;
}

.enphasis {
  color: #36b37f;
}

.network {
  display: flex;
  padding: 20% 30% 0%;
  margin-bottom: 0%;
}

.social {
  flex: 1;
}

.works {
  padding: 0% 8% 5%;
}

@supports (display: grid) {
  .works {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }
}

.card {
  background-color: #ebf0ee;
  border-radius: 5px;
  border-color: #d0d9d4;
  border: 1px solid;
  margin: 15% 5%;
}

.screenshot {
  min-height: 120px;
  max-width: 100%;
}

.info {
  background-color: white;
  border-radius: 5px;
  padding-bottom: 30px;
}

.languages {
  display: flex;
  justify-content: center;
  padding: 0% 5%;
  margin-bottom: 15%;
  flex-wrap: wrap;
  min-height: 96px;
}

.languages > * {
  background-color: #ebf0ee;
  margin: 5px;
  padding: 3px 20px;
  border-radius: 5px;
  font-size: 12px;
  line-height: 16px;
  max-height: 16px;
}

.button {
  color: white;
  background-color: #36b37f;
  padding: 15px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
}

@supports (width: fit-content) {
  .button {
    width: fit-content;
  }
}

.button:hover {
  box-shadow: 0 8px 16px 0 #36b37f3d;
}

.button:active {
  background: #008552;
}

#about {
  display: flex;
  flex-direction: column;
}

.skills {
  padding: 8%;
}

.aboutme {
  background: url("/Images/background-aboutme-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 8%;
}

.aboutme p {
  margin: 30px;
}

.tags {
  display: flex;
  justify-content: center;
  padding: 0% 5%;
  flex-wrap: wrap;
}

.tags > * {
  background-color: white;
  border-radius: 8px;
  color: #36b37f;
  padding: 12px;
  font-size: 12px;
  line-height: 16px;
  margin: 5px;
  font-weight: 600;
}

@supports (display: grid) {
  #form {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }
}

#form {
  padding: 8%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email {
  color: #42526e;
  padding-top: 10%;
}

@media (min-width: 992px) {
  .flexnav {
    justify-content: space-around;
    padding: 5% 30%;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  .welcome {
    display: none;
  }

  .menu {
    display: none;
  }

  .desktop {
    display: flex;
  }

  .main {
    background: url("/Images/Header-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .landing-page {
    background: transparent;
    max-height: 42vh;
    padding: 8% 16%;
  }

  .network {
    padding: 0% 30%;
  }

  .works .works {
    padding: 0%;
  }

  @supports (display: grid) {
    .works .works {
      grid-template-columns: 33% 33% 33%;
    }
  }

  .aboutme {
    background: url("/Images/illustration-about-me-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    padding: 4% 8%;
  }

  @supports (display: grid) {
    .skills {
      display: grid;
      grid-template-columns: 31% 31% 31%;
      justify-content: center;
    }
  }

  .skills {
    padding: 4% 8%;
  }

  #form {
    justify-content: space-around;
    align-items: center;
    background: url("/Images/illustration-form-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
  }

  @supports (display: grid) {
    #form {
      grid-template-columns: 40% 50%;
    }
  }

  .email {
    display: none;
  }
}
